:root {
  --txt: #0a0a0a;
  --damasco: #ff9358;
  --damasco: #ff7c35;
  --dark-damasco: #9b3700;
  --hueso: #fff9ed;
} 

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
////// CSS base /////////////////////////////////////////////////////////////////////////////////
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

* { margin: 0; padding: 0; box-sizing: border-box; -webkit-tap-highlight-color: transparent; }

html { height: 100%; overflow-y: scroll; scrollbar-width: thin; scroll-behavior: smooth }

/*::-webkit-scrollbar { width: 2px }*/
/*::-webkit-scrollbar-thumb { background: #111 }*/
/*::-webkit-scrollbar-track { background: #fff }*/

body {
  background-image:url(img/texturetastic_gray.webp);
  background-color: var(--hueso);
  color:var(--txt);
  font:1.125rem/1.6em "Playfair Display", serif;
  width:100%;
  max-width:2560px;
  margin: 0 auto;
  text-rendering:geometricPrecision;
  }

body ::selection { background: var(--damasco); color: #fff; }

h2 {
  width: fit-content;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--damasco);
  line-height: 1.25;
  margin: 2rem auto;
  padding: 5px 18px 15px;
  letter-spacing: 1px;
}

h2.split-back { background: linear-gradient(110deg, var(--txt) 0 50%, var(--damasco) 0 100%); border-radius: 15px 4px; }
h2.split-back span { color: var(--txt); margin-left: 30px; }

img { border: none; display: block; width: 100%; height: auto }

a { color: var(--color-light); font-size: 85%; text-decoration: none }
a:focus { outline: 0 }

p {
 margin: 1.65rem auto;
 max-width: 680px;
 padding: 0 20px;
 font-size: 1.125rem;
 font-weight: 300;
 line-height: 1.5;
 color: var(--txt);
}

p:empty { display:none; }

.svg-hidden { display: none; height:0; }

hr { max-width: 680px; margin: 0 auto; border-style: dotted; border-width: 0 0 3px 0; border-color: var(--txt); }

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
////// Header ///////////////////////////////////////////////////////////////////////////////////
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

header {  
  height: 600px;
  width: 100%;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 300px;
  place-items: center;
}

/*header img { height: 100%; max-height: 600px; object-fit: cover; grid-area: 1 / 1 / 3 / 3; opacity: 0.2; }*/

header div:nth-child(1) { width: 100%; height: 100%; max-height: 600px; grid-area: 1 / 1 / 3 / 3; }
header div:nth-child(2) { grid-area: 1 / 1 / 3 / 3; }

header h1 {
  font-size: calc(60px + (130 - 60) * ((100vw - 600px) / (1920 - 600)));
  font-weight: 900;
  text-align: center;
  grid-area: 2 / 1 / 3 / 3;
  line-height: 1;
  background: var(--damasco);
  padding: 15px 40px;
  border-radius: 35px 10px 0 0;
  user-select: none;
  font-variant-numeric: lining-nums;
  /* El z-index de abajo es para que la opacidad aplicada al imagen no afecte también al H1 */
  /*z-index: 10; */
}

header #mis-conexion div {
  background: var(--txt);
  font-size: calc(16px + (20 - 16) * ((100vw - 600px) / (1920 - 600)));
  color: var(--damasco);
  padding: 15px 45px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 0 0 35px 10px;
  user-select: none;
}

header #mis-conexion div span { display: block; }

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
////// Equipo docente ///////////////////////////////////////////////////////////////////////////
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

#mis-equipo-docente {
  background: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23aaa' fill-opacity='0.7' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  padding: 2rem 20px;
  /*box-shadow: inset 0 5px 40px #eae4db;*/
  border-top: 1px solid;
}

#mis-equipo-docente article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 275px));
  gap: 50px;
  justify-content: center;
}

#mis-equipo-docente .mis-prof { width: 260px; margin: 0 auto; }

#mis-equipo-docente img {
  border-radius: 50%;
  max-width: 225px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.2), 0 4px 4px rgba(0,0,0,0.2), 0 8px 8px rgba(0,0,0,0.2), 0 16px 16px rgba(0,0,0,0.2);
  margin: 0 auto;
}

#mis-equipo-docente h3 {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 800;
  margin: 1.25rem 0 .5rem;
  padding-bottom: 15px;
  /*border-bottom: 3px solid var(--damasco);*/
  border-bottom: 4px solid;
  border-image: linear-gradient(158deg, var(--damasco) 0 90%, var(--txt) 0 100%) 1;
}
#mis-equipo-docente ul { list-style: none; font-size: 15px; font-weight: 500; line-height: 1.5; }

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
////// Sobre el proyecto ////////////////////////////////////////////////////////////////////////
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

#mis-sobre-el-proyecto { background: var(--txt); padding: 3.5rem 20px 7rem; color: var(--hueso); }

#mis-sobre-el-proyecto article {
  max-width: 1330px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 640px));
  justify-content: center;
}

#mis-sobre-el-proyecto h2 {
  margin: .5rem auto 1rem;
  font-size: 3rem;
  font-size: calc(48px + (60 - 48) * ((100vw - 600px) / (1920 - 600)));
  line-height: 1;
}
#mis-sobre-el-proyecto details { position: relative; }
#mis-sobre-el-proyecto details:before {
  position: absolute;
  content: '+';
  bottom: -70px;
  width: 36px;
  height: 36px;
  border-radius: 8px 0 8px 0;
  background: var(--hueso);
  color: var(--txt);
  font-weight: 900;
  font-size: 2.75rem;
  left: calc(50% - 10px);
  text-align: center;
  line-height: 0.72;
  cursor: pointer; 
}

#mis-sobre-el-proyecto details[open]:before { content: '-'; line-height: 0.5; font-weight: 100; }
#mis-sobre-el-proyecto summary { display: block; pointer-events: none; padding-top: 15px; font-size: 18px; }
#mis-sobre-el-proyecto summary span { color: var(--damasco); font-variant-numeric: lining-nums; font-weight: 900; font-size: 20px; padding: 0 3px; }

#mis-sobre-el-proyecto h3 { color: var(--damasco); font-size: 26px; }
#mis-sobre-el-proyecto p { color: var(--hueso); padding: 0; font-size: 18px; }

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
////// Artículos de divulgación científica //////////////////////////////////////////////////////
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

#mis-articulos { padding: 2rem 20px 4rem; box-shadow: inset 0 5px 40px #eae4db; }

#mis-articulos article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 340px));
  justify-content: center;
  grid-gap: 40px;
  max-width: 1600px;
  margin: 0 auto;
}

/*#mis-articulos h2.split-back { background: linear-gradient(110deg, var(--txt) 0 38%, var(--damasco) 0 100%); }*/
#mis-articulos h2.split-back { 
  max-width: 480px;
  background: linear-gradient(180deg, var(--txt) 0 35%, var(--damasco) 0 100%); 
}

#mis-articulos div {
  padding: 10px;
  background: var(--hueso);
  background: linear-gradient(135deg, var(--hueso) 0 95%, transparent 0 100%);
  transition: all 250ms ease;
  border-radius: 12px 12px 16px 12px;
  position: relative;
}

#mis-articulos div:before {
  content: '+';
  position: absolute;
  right: -5px;
  bottom: 0px;
  width: 23px;
  font-size: 2rem;
  font-weight: 900;
}

#mis-articulos img { transition: scale 250ms ease; border-radius: 6px 6px 0 0; }
#mis-articulos h3 { font-size: 1.35rem; line-height: 1.2; padding: 10px; }


/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
////// Video player /////////////////////////////////////////////////////////////////////////////
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.video-container { position: relative; padding-bottom: 56.25%; }
.video-container iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.video-container-v { position: relative; padding-bottom: 177.77%; }
.video-container-v iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.video-player {
  width: 100%;
  cursor: pointer;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  border: 5px solid var(--hueso);
}

.video-player-v {
  width: 100%;
  max-width: 300px;
  max-width: 360px;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  border: 5px solid var(--hueso);
}

.video-player::before,
.video-player-v::before {
  content: "";
  /*background-image: url(https://unciencia.unc.edu.ar/wp-content/blogs.dir/31/files/sites/4/2022/05/unciencia_hsprt_v7.svg);*/
  background-image: url("./img/icons.svg");
  width: 70px;
  height: 70px;
  background-position-y: -70px;
  position: absolute;
  background-size: cover;
  top: calc(50% - 35px);
  left: calc(50% - 35px);
  background-repeat: no-repeat;
  z-index: -1;
}

.video-thumbnail::before,
.video-thumbnail-v::before {
  content: "";
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 35px);
  z-index: 2;
  width: 70px;
  height: 70px;
  /*background-image: url(https://unciencia.unc.edu.ar/wp-content/blogs.dir/31/files/sites/4/2022/05/unciencia_hsprt_v7.svg);*/
  background-image: url("./img/icons.svg");
  background-size: cover;
  background-position-y: -140px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.video-player img,
.video-player-v img { width: 100%; }

/* ///////// Video carrousel settings /////////////////////////////////////// */

.mis-video-wrapper { position: relative; max-width: 700px; margin: 0 auto; }

.owl-nav { margin-top: 0; font-size: 3.5rem; font-weight: 700; display: none; }
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next { margin: 0 6rem; }
.owl-dots { text-align: center; margin: 0; }
.owl-dots .owl-dot span { display: inline-block; width: 15px; height: 15px; margin: 0 5px; border-radius: 50%; background: #494744; }
.owl-dots .owl-dot.active span { background: var(--damasco); }

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
////// Producción audiovisual ///////////////////////////////////////////////////////////////////
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

#mis-produccion-audiovisual {
  background: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23aaa' fill-opacity='0.7' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  padding: 2rem 20px;
  /*box-shadow: inset 0 5px 40px #eae4db;*/
  border-top: 1px solid;
  border-bottom: 1px solid;
 }

#mis-produccion-audiovisual h2.split-back { max-width: 470px; background: linear-gradient(180deg, var(--txt) 0 48%, var(--damasco) 0 100%);  } 

#mis-produccion-audiovisual article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 700px));
  justify-content: center;
}
#mis-produccion-audiovisual p { padding: 0; margin-top: 0; }
#mis-produccion-audiovisual .mis-video-info { padding: 15px; }
#mis-produccion-audiovisual .mis-video-wrapper { max-width: 700px; }
#mis-produccion-audiovisual .mis-video-wrapper .video-player-h { max-width: 300px !important; }

#mis-produccion-audiovisual .mis-video-wrapper h4 { padding: 10px; text-align: center; font-size: 20px; }
#mis-produccion-audiovisual .mis-video-wrapper h3 { padding: 10px; text-align: center; font-size: 20px; }

#mis-produccion-audiovisual .mis-video-wrapper.mis-view-760 { display: none; }

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
////// Producción gráfica ///////////////////////////////////////////////////////////////////////
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

#mis-produccion-grafica { padding: 2rem 20px; max-width: 1920px; margin-inline: auto; }
#mis-produccion-grafica h2.split-back { max-width: 385px; background: linear-gradient(180deg, var(--txt) 0 48%, var(--damasco) 0 100%); }
#mis-produccion-grafica p { padding: 0; }
#mis-produccion-grafica article {
  /*display: grid;*/
  /*grid-template-columns: repeat(auto-fit, minmax(175px, 360px));*/
  /*justify-content: center;*/
  /*grid-gap: 30px;*/
  padding: 20px;
}

#mis-produccion-grafica img {
box-shadow: 9px 9px 15px -2px rgba(0,0,0,0.3);
border: 1px solid rgba(0,0,0,0.4);
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
////// PDF viewer ///////////////////////////////////////////////////////////////////////////////
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

#pdf-viewer { position: relative; max-width: 960px; margin: 0 auto; }
#toolbar {
  /*position: absolute;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  display: flex;
  justify-content: center;
  padding: 10px;
  background: var(--txt);
  color: white;
  gap: 20px;
  font-variant-numeric: lining-nums;
  font-size: 1.25rem;
  font-weight: 300;
}

#pdf-container {
  width: 100%;
  /*height: 55vh;*/
  height: 450px;
  overflow-y: auto;
  background: #bbb5aa;
  padding: 20px;
  box-sizing: border-box;
/*  max-width: 550px;*/
}

.page-container {
  background: var(--hueso);
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 100%;
}

/*.mis-folleto-download-button {
  background: var(--hueso);
  color: var(--txt);
  font-family: inherit;
  border: none;
  padding: 7px 10px 7px;
  cursor: pointer;
  width: 275px;
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-size: 1.15rem;
  border-radius: 15px 0 15px 0;
  margin: 10px 0;
}*/

.mis-folleto-download-button {
  background: var(--hueso);
  color: var(--txt);
  padding: 6px 17px 6px 17px;
  cursor: pointer;
  border-radius: 5px;
}

.mis-folleto-download-button a { display: flex; justify-content: center; }
.mis-folleto-download-button svg { margin-right: 10px; }

canvas {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.lp-episodes-details { padding:0; }

.mis-folletos-thumbnails {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(135px, 145px));
  justify-content: center;
  grid-gap: 20px;
  margin: 2rem auto;
  max-width: 1200px;
}

.mis-folleto-pdf { cursor: pointer; }
.mis-folleto-pdf span { display: none; }
.mis-folleto-pdf img { pointer-events: none; }

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
////// Footer ///////////////////////////////////////////////////////////////////////////////////
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

footer { background: var(--damasco); padding: 2.5rem 20px 1.5rem; border-top: 1px solid; border-bottom: 10px solid; }

footer article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 500px));
  justify-content: center;
  grid-gap: 30px;
}

footer article > div { border-top: 1px dotted; padding-top: 15px; }

footer .mis-footer-ttl { max-width: 500px; font-size: 3rem; font-weight: 900; font-variant-numeric: lining-nums; margin: 1rem auto 10px;  }
footer .mis-footer-ttl span {
  font-size: 20px;
  font-weight: 600;
  display: block;
  padding: 10px 0;
}

footer .mis-footer-rrss { display: flex; flex-wrap: wrap; margin: 15px 0; }
footer .mis-footer-rrss a { padding: 0 15px; }
footer .mis-footer-rrss img { width: 50px; }


/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
////// Notas ////////////////////////////////////////////////////////////////////////////////////
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.mis-articulo-divulgacion .mis-articulo-header { background: linear-gradient(to bottom, var(--damasco) 0 58%, var(--txt) 0 100%); }
.mis-articulo-divulgacion .mis-articulo-header a { display: block; font-size: 2.5rem; }

.mis-articulo-divulgacion .mis-articulo-header div { max-width: 680px; margin: 0 auto; padding: 0 20px;  }
.mis-articulo-divulgacion .mis-articulo-header div:nth-child(1) { font-weight: 900; padding: 20px 20px 30px; font-variant-numeric: lining-nums; }

.mis-articulo-divulgacion .mis-articulo-header div:nth-child(2) {
  font-size: 1.1rem;
  padding: 0 20px 10px;
  color: var(--hueso);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.mis-articulo-divulgacion .mis-articulo-imagen img {
  display: block;
  max-width: 1200px;
  margin: 1px auto 0;
  box-shadow: 0 0 20px -8px black;
  border: 1px solid rgba(0, 0, 0, 0.3);
}


.mis-articulo-divulgacion h1 { text-align: center; margin: 2rem auto 3rem; font-size: 2.5rem; font-weight: 900; max-width: 1024px; line-height: 1.25; }
.mis-articulo-divulgacion h2 { font-size: 2rem; text-shadow: 1px 2px 2px #593d1f; }
.mis-articulo-divulgacion p:first-of-type { font-style: italic; margin: 0 auto 2rem; }

.mis-articulo-divulgacion .mis-dot {
  width: 8px;
  display: inline-block;
  background: var(--damasco);
  height: 8px;
  border-radius: 50%;
  margin-right: 15px;
  vertical-align: middle;
  border: 2px solid;
  box-shadow: 0 0 0 3px var(--damasco), 0 0 0 5px var(--txt);
  opacity: 0.8;
}


/*.mis-articulo-divulgacion p:first-of-type + p { color: red; }*/
.mis-articulo-divulgacion p:nth-of-type(2) {
  font-weight: 500;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid  rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  line-height: 1.6;
}

.mis-articulo-divulgacion p a {
  color: var(--damasco);
  text-decoration-color: var(--damasco);
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-underline-offset: 6px;
  font-weight: 600;
  text-shadow: 0 0 0 #532d04;
  font-size: 1.125rem;
}

.mis-articulo-divulgacion ul, .mis-articulo-divulgacion ol { max-width: 680px; list-style-type: none; margin: 1.65rem auto; }
.mis-articulo-divulgacion li { padding: 10px 0 10px 15px; line-height: 1.45; }
.mis-articulo-divulgacion li + li { border-top: 1px dotted;}
.mis-articulo-divulgacion ul li::marker { color: var(--damasco); content: '◉'; font-size: 20px; }
.mis-articulo-divulgacion ol { list-style-type: decimal-leading-zero; }
.mis-articulo-divulgacion ol li::marker { color: var(--damasco); font-size: 1.15rem; font-weight: 900; }

.mis-articulo-divulgacion .epigraph, .mis-articulo-divulgacion .epigraph a { font-size: 0.9rem; text-decoration: none; }
.mis-articulo-divulgacion .mis-citas, .mis-articulo-divulgacion .mis-bibliografia { font-size: 1rem; text-decoration: none; margin-bottom: 2rem; }

.mis-articulo-divulgacion .mis-citas h2, .mis-articulo-divulgacion .mis-bibliografia h2 {
  color: var(--txt);
  text-shadow: none;
  font-size: 1.65rem;
  max-width: 680px;
  padding: 20px;
  margin: 0 auto;
  text-align: left;
  width: unset;
}

.mis-articulo-divulgacion .mis-citas a, .mis-articulo-divulgacion .mis-bibliografia a { color: var(--dark-damasco); }

.mis-articulo-divulgacion .mis-citas ol, .mis-articulo-divulgacion .mis-bibliografia ul { margin: 0 auto; } 

.mis-articulo-divulgacion .mis-bibliografia li::marker { content: '◫'; font-size: 20px; }

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
////// Media queries ////////////////////////////////////////////////////////////////////////////
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.mis-grt760 { display: none; }
.mis-lrt760 { max-width: 434px; }

@media (min-width:600px) {
  header h1 { grid-area: 1 / 1 / 3 / 3; }
  header #mis-conexion div span { display: inline-block; line-height: 1.2; }
  header #mis-conexion div span + span { border-left: 2px solid var(--damasco); margin-left: 10px; padding-left: 10px; }
  #mis-produccion-grafica h2.split-back { max-width: 500px; background: linear-gradient(110deg, var(--txt) 0 54%, var(--damasco) 0 100%); }
  .mis-lrt760 { margin: 0 auto; }
  #pdf-container { height: 380px; }  
}

/*///////////  760  ///////////////////////////////////////////////////////////*/

@media (min-width:760px) {
  .mis-lrt760 { display: none; }
  .mis-grt760 { display: block; }
  .video-player-v { max-width: 229px; }
  #pdf-container { height: 490px; }  
}

/*///////////  960  ///////////////////////////////////////////////////////////*/

@media (min-width:960px) {
  #mis-articulos h2.split-back { max-width: 742px; background: linear-gradient(110deg, var(--txt) 0 38%, var(--damasco) 0 100%); }
  #mis-produccion-audiovisual h2.split-back { max-width: 600px; background: linear-gradient(110deg, var(--txt) 0 45%, var(--damasco) 0 100%); }
  #pdf-container { height: 630px; }  
}


/*///////////  1200  //////////////////////////////////////////////////////////*/

@media (min-width:1200px) {
  #mis-articulos article:hover div:not(:hover) { filter: grayscale(1); opacity: 0.35; }
  #mis-articulos article div:hover img { scale: 1.025; }
  #mis-produccion-audiovisual .mis-video-info { padding: 15px; max-width: 450px; margin: 0 20px 0 auto; }
  footer .mis-footer-ttl { max-width: 1030px; }
  #pdf-container { height: 690px; }  
}

/*///////////  1400  //////////////////////////////////////////////////////////*/

@media (min-width:1330px) {
  #mis-sobre-el-proyecto h2 { margin: 0 2rem 0 auto; text-align: right; }
}

/*///////////  1900  //////////////////////////////////////////////////////////*/

@media (min-width:1900px) {
  #mis-produccion-grafica article { display: grid; grid-template-columns: 2fr 1fr; justify-content: center; grid-gap: 30px; padding: 20px; }
  #mis-produccion-grafica .mis-folletos-thumbnails { grid-template-columns: repeat(auto-fit, minmax(135px, 165px)); margin-top: 0; }  
}



